!!! 5
%html
  %head
    %title= FreeCodingProject
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = render partial: "layouts/header"
    = yield
    = render partial: "layouts/footer"
